@import "../fonts/AGaramondPro/stylesheet.scss";
@import "../fonts/Quicksand/stylesheet.scss";

:root {
  // COLORS
  --primary-color-dark: #cbbb9f;
  --primary-color-light: #dfd6c5;
  --secondary-color-dark: #84c6ec;
  --secondary-color-light: #b4dcf3;
  --black: #3d3d3d;
  --white: #fff;
  --demo-image-color: #efefef;
  --image-bg-color: #dfd6c5;
  // FONTS
  --headline-font: "Adobe Garamond Pro", sans-serif;
  --sanserif-head-font: "Quicksand", sans-serif;
  --text-font: "Quicksand", sans-serif;
  // SIZES
  --main-head-size: 3rem;
  --secondary-head-size: 2rem;
  --text-size: 1rem;
  // SHADOW
  --box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  // MIXIN
  --standart-container: {
    max-width: 1280px;
    padding: 0 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--text-font), BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
