.baseHead {
  color: var(--black);
  font-family: var(--headline-font);

  &.mainHead {
    position: relative;
    z-index: 2;
    font-size: var(--main-head-size);
  }

  &.subHead {
    position: relative;
    z-index: 2;
    font-size: var(--secondary-head-size);
  }

  &.center {
    text-align: center;
  }
}
